<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/detail.min.css">
    <title>Goods</title>
</head>
<body>
    <div class="box cl header">
        <img style="float: left;margin-right: 50px;" src="../static/images/logo.jpg" alt="" />
        <span>服务热线：95555</span>
        <span>信用卡热线：18353512650</span>
        <div class="search"> <input type="text" placeholder="请输入关键词搜索" /></div>
        <ul>
            <li> <a href="index.html">首页</a></li>
            <li> <a href="" class="active">商品市场</a></li>
            <li> <a href="point.html">积分兑换</a></li>
        </ul>
    </div>
    <br />

    <div class="box cl inform">
        <div class="detail_main_right cl">
            <div class="main_right_search cl">
                <ul class="search_left">
                    <li>全部分类</li>
                    <li>价格</li>
                </ul>
                <ul class="search_right">
                    <li>
                                <span>
                                    <a href="#">上衣</a>
                                </span>
                        <span>
                                    <a href="#">下装</a>
                                </span>
                        <span>
                                    <a href="#">鞋</a>
                                </span>
                        <span>
                                    <a href="#">家具</a>
                                </span>
                        <span>
                                    <a href="#">食品</a>
                                </span>

                    </li>
                    <li>
                                <span>
                                    <a href="#">100以下</a>
                                </span>
                        <span>
                                    <a href="#">100-300</a>
                                </span>
                        <span>
                                    <a href="#">300-500</a>
                                </span>
                        <span>
                                    <a href="#">500-1000</a>
                                </span>
                        <span>
                                    <a href="#">1000-5000</a>
                                </span>
                        <span>
                                    <a href="#">5000以上</a>
                                </span>
                    </li>

                </ul>
            </div>
            <div class="right_goods cl">
                <ul class="right_goods_list cl">
                    <li class="default">
                        <a href="#">推荐购买</a>
                    </li>
                    <li>
                        <a href="#">按销量排序</a>
                    </li>
                    <li>
                        <a href="#">按价格排序</a>
                    </li>

                </ul>
                <ul class="right_goods_box cl">

                </ul>
                <div class="right_goods_page">
                    <button>1</button>
                    <button>2</button>
                    <button></button>

                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <br/>
        <div class="line"></div>
    </div>
    <footer class="cl box">
        <div class="foot1"> 服务热线：95555（大陆地区）；+86（区号）95555（海外及港澳台地区）信用卡热线：40000-95555（大陆地区）；+86 10-66085566（海外及港澳台地区）</div>
        <div class="foot1"> 沪ICP备05000001号</div>
    </footer>
</body>
</html>
