<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <title>point</title>
</head>
<body>
    <div class="box cl header">
        <img style="float: left;margin-right: 50px;" src="../static/images/logo.jpg" alt="" />
        <span>服务热线：95555</span>
        <span>信用卡热线：18353512650</span>
        <div class="search"> <input type="text" placeholder="请输入关键词搜索" /></div>
        <ul>
            <li> <a href="index.html">首页</a></li>
            <li> <a href="Goods.html">商品市场</a></li>
            <li> <a href="" class="active">积分兑换</a></li>
        </ul>
    </div>
    <br />

    <div class="box cl inform">

    </div>

    <footer class="cl box">
        <div class="foot1"> 服务热线：95555（大陆地区）；+86（区号）95555（海外及港澳台地区）信用卡热线：40000-95555（大陆地区）；+86 10-66085566（海外及港澳台地区）</div>
        <div class="foot1"> 沪ICP备05000001号</div>
    </footer>
</body>
</html>
